<div id = "map"> 
    <div class="search">
        <form action="/locateInMap" method="post">
            <div class = "search-field">
                <input type="text"
                    placeholder="Enter location"
                    name="search" class = "search-input">
                <button class = "search-button">
                    <i class="fa fa-search">
                    </i>
                </button>
            </div>
        </form>
    </div>
</div>
<script type = "application/javascript" src = "/map_planning.cjs"> </script>