<div id = "map"> 

    <div class="search">
        <form action="#">
            <div class = "search-field">
                <input type="text"
                    placeholder="Enter location"
                    name="search" class = "search-input">
                <button class = "search-button">
                    <i class="fa fa-search">
                    </i>
                </button>
            </div>
        </form>
    </div>

</div>

<script type ="text/javascript" src ="/scripts/map.js"> </script>

<!--<script type = "application/javascript" src = "/pins.cjs"> </script>-->