.trip-modal-container {
    display: none;
    height: 100vh;
    width: 100vw; 

    position: absolute;
    top: 0; 
    left: 0;
    background-color: rgba(1, 1, 1, 0.1);
    z-index: -1050;
}

.trip-close { 
    display: flex;
    flex-direction: row;
    position: fixed;
    right: 2%; 
    height: 25%;
    margin-top: 2%;
    color: #2E3B51;
}

.trip-close a { 
    height: fit-content;
}

.trip-modal-popup { 
    display: flex; 
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 30%;
    width: 55%;
    background-color: #F3F4F6;
    border-radius: 30px;
}

.trip-modal-popup p { 
    display: flex;
    flex-direction: row;
    width: 90%; 
    color: #2E3B51;
    margin: 15% 5% 5% 5%;
    text-align: center;
}

.trip-form { 
    display: flex; 
    flex-direction: column;
    justify-content: stretch;
    height: 80%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.trip-form div { 
    display: flex;
    flex-direction: row;
    align-items: center;
}

.trip-form label { 
    margin: 0%;
    width: 100%;
    text-align: center;
    font-size: 18px;
}

.trip-form input { 
    width: 80%;
    margin-top: 10%;
    margin-left: 10%;
    border: 1px solid gray;
    border-radius: 20px;
}

.submit { 
    margin-bottom: 20%;
    height: 50px;
    width: 40%;
    margin: auto;
    border-radius: 30px;
    border: none;
    background-color: #2E3B51;
    color: white;
}