.leaflet-popup.leaflet-zoom-animated .leaflet-popup-content-wrapper{ 
    background: #E2EDDD;
}

.leaflet-popup.leaflet-zoom-animated .leaflet-popup-tip { 
    background: #E2EDDD;   
}

.leaflet-popup-close-button { 
    margin-left: 4px;
    margin-bottom: 4px;
}

.datepicker-input { 
    display: flex;
    flex-direction: column;

    margin-top: 4px;
    margin-bottom: 4px;
    height: 35px;
}

.date { 
    margin: auto;
    border-radius: 5px;
    line-height: 1.5;
    font-size: 18px;
    color: #2e3b51;
}

.waypoint-button input{ 
    height: 35px;
    width: 100%;
    line-height: 1.5;
    font-size: 18px;
    border: none;
    background: #E2EDDD; 
    color: #2e3b51;
    margin-top: 5px;
}